* {
  margin: 0px;
  padding: 0px;
}
/*alinear las cajas de texto y los botones*/
input, button {
  box-sizing: border-box;
}

#cabecera {
  width: 96%;
  height: 150px;
  padding: 0% 2%;
  background-color: #4C81CF;
}
#cabecera > div {
  width: 960px;
  margin: 0px auto;
  padding-top: 45px;
}
#cabecera h1 {
  font: bold 54px Footlight MT Light;
  color: #FFFFFF;
  text-align: center;
  border: #7CB7E7 5px solid;
}

main {
  width: 96%;
  padding: 2%;
  }
main > div {
  width: 960px;
  margin: 0px auto;
  text-align: center;
  }
main h1,p {
  font: bold 18px Arial, sans-serif;
  color: #26ACDF;
  margin-bottom: 15px;
}  


#principal {
  float: left;
  width: 550px;
  padding-top: 30px;
  border-radius: 10px;
}

#mensaje {
  width: 200px;
  float: left;
}

#imgleft {
  float: left;

}
#imgright {
  float: left;
}

#divvalor {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #ffffff; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: center; 
  background: #26ACDF; 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: 20px; 
  border-radius: 35px 0px 35px 0px; 
  -moz-border-radius: 35px 0px 35px 0px; 
  -webkit-border-radius: 35px 0px 35px 0px; 
  border: 2px solid #5878ca;
}

#alto p {
  font: bold 18px Arial, sans-serif;
  color: #A60300;
  margin-bottom: 15px;
}
#bajo p {
  font: bold 18px Arial, sans-serif;
  color: #FD608D;
  margin-bottom: 15px;
}
#divalto button {
  border: none;
  background: #A60300;
  color: #FFFFFF;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}
#divbajo button {
  border: none;
  background: #FD608D;
  color: #FFFFFF;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}

.btnenviar {
  border: none;
  background: #85EC86;
  color: #FFFFFF;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  }

button:hover {
  background: rgba(0,0,0,0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
  }

#puntajes {
  float: right;
  width: 300px;
  padding: 20px;
  background-color: #4C81CF;
  border-radius: 10px;
  }
#puntajes caption {
  font: bold 18px Footlight MT Light;;
  color: #FFFFFF;
  margin-bottom: 15px;
  }

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: auto; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }

.recuperar {
  clear: both;
  }

#piedepagina {
  width: 96%;
  padding: 2%;
  background-color: #4C81CF;
  }
#piedepagina > div {
  width: 960px;
  margin: 0px auto;
  background-color: #608CD3;
  border-radius: 10px;
  text-align: center;
  }